.friendItem {
  border: 2px solid;
  border-radius: 25px;
  padding: 25px;
  width: 170px;
}
.friendItemName {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.friendItemStatus {
  margin: 0;
  padding: 0;
}

.online {
  color: green;
}
.offline {
  color: orangered;
}
